<!DOCTYPE html>
<html ng-app="taskApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="../../components/bootstrap/dist/css/bootstrap.css"/>
    <script src="../../components/angular/angular.js"></script>
    <script src="taskManager.mainController.js"></script>
    <script src="taskManager.tableController.js"></script>
    <script src="taskManager.logController.js"></script>
    <script src="taskManager.editController.js"></script>
    <link rel="stylesheet" href="taskManager.css"/>

</head>

<body ng-controller="mainController as mainCtrl">

<div class="container">

    <header class="row">
        <div class="page-header">
            <h1>Task Manager
                <span class="glyphicon glyphicon-th pull-right"></span>
            </h1>
        </div>
    </header>

    <!-- action bar -->
    <section class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <button class="btn btn-default" ng-click="mainCtrl.hideShowCompleted()">show/hide completed</button>
                <button class="btn btn-default" ng-click="mainCtrl.clearLog()">Clear Log</button>

            </div>
        </div>
    </section><!-- /action bar -->

    <div class="row">

        <!-- task log -->
        <div class="col-lg-3" ng-controller="logController as logCtrl">
            <ul class="list-unstyled" ng-repeat="logItem in logCtrl.logList">
                <li><samp>{{logItem}}</samp></li>

            </ul>
        </div> <!-- /task log -->

        <!-- task table -->
        <div class="col-lg-7" ng-controller="tableController as tableCtrl">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Done</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td class="text-center"><input class="input" type="checkbox"/></td>
                    <td>A task for example</td>
                    <td>Add tasks and see how cool this app is! </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <button class="btn btn-primary">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </div>
                    </td>
                </tr>

                <tr ng-repeat="task in mainCtrl.tasks" ng-hide="task.hideMe">
                  <td class="text-center"><input class="input" type="checkbox" ng-click="mainCtrl.taskDone(task)"/></td>
                  <td ng-class="{strike: task.done}">{{task.title}}</td>
                  <td ng-class="{strike: task.done}">{{task.description}}</td>
                  <td>
                    <div class="btn-group btn-group-sm">
                      <button class="btn btn-danger" ng-click="mainCtrl.removeTask(task.id)">
                        <span class="glyphicon glyphicon-remove"></span>
                      </button>
                      <button class="btn btn-primary" ng-click="tableCtrl.editTask(task)">
                        <span class="glyphicon glyphicon-edit"></span>
                      </button>
                    </div>
                  </td>
                </tr>

                </tbody>
            </table>
        </div><!-- /task table -->

        <!-- task form -->
        <div class="col-lg-2" ng-controller="editController as editCtrl">

            <form class="form-horizontal">

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Title" ng-model="editCtrl.newTask.title">
                </div>

                <div class="form-group">
                    <textarea rows="6" class="form-control" placeholder="Description" ng-model="editCtrl.newTask.description"></textarea>
                </div>

                <div class="form-group">
                    <button class="form-control btn btn-primary" ng-click="editCtrl.addTask()">Add</button>
                </div>
            </form>
        </div><!-- /task form -->

    </div>
</div><!-- /container-->

</body>

</html>